body {
    background-image: url("img3.jpg");
    background-attachment: fixed;
    background-size: 100% auto;
    color: #232826;
    text-align: center;
    text-shadow:
    -.5px -.5px 0 #797a79,
    .5px -.5px 0 #797a79,
    -.5px .5px 0 #797a79,
    .5px .5px 0 #797a79;
}
ul{
    text-align: left;
}
p {
    color: #232826;
    text-align: left;
}
a {
    color: #183642
}
h1{
    color: white;
}
h2{
    color: white;
}
